/* Map/Satellite toggle button */
.gmnoprint.gm-style-mtc-bbw {
  display: none !important;
}

/* Address input field */
.sc-elDHXC.hvnYBv {
  width: calc(100% - 24px) !important;
}

.sc-dkXsAU.ipCWxD {
  width: calc(100% - 20px) !important;
}
