@theme {
  --color-black: #181818;
  --color-dark: #353638;
  --color-gray: #858d94;
  --color-light-gray: #b6bdc3;
  --color-white: #ffffff;

  /* Color variables */
  --color-bg: var(--color-black);
  --color-primary: var(--color-white);

  /* --color-secondary: #afafaf;
  --color-tertiary: #b7b7b7;
  --color-accent: #000000;
  --color-active-link: #878787; */

  /* Fonts */
  --font-sans: var(--font-inter), Helvetica, Arial, sans-serif;
  --font-serif: var(--font-things), serif;

  /* Default breakpoints
   * sm: 40rem (640px)
   * md: 48rem (768px)
   * lg: 64rem (1024px)
   * xl: 80rem (1280px)
   * 2xl: 96rem (1536px)
   */

  /* Default max-* media query aliases
   * max-sm: @media (width < 40rem) { ... }
   * max-md: @media (width < 48rem) { ... }
   * max-lg: @media (width < 64rem) { ... }
   * max-xl: @media (width < 80rem) { ... }
   * max-2xl: @media (width < 96rem) { ... }
   */
}

/* ─── Typography ───────────────────────────────────────────────────────────── */

@utility type-display-1 {
  font-family: var(--font-serif);
  font-size: 118px;
  line-height: 84%;
  letter-spacing: 0;
  font-weight: 400;

  @media (width < 48rem) {
    font-size: 72px;
  }
}

/* ─── Global styles ─────────────────────────────────────────────────────────── */

html,
body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font-sans);
}
