@theme {
  --color-black: #181818;
  --color-dark: #353638;
  --color-dark-gray: #858d94;
  --color-gray: #b6bdc3;
  --color-light-gray: #f1f1f1;
  --color-white: #ffffff;

  /* Color variables */
  --color-bg: var(--color-black);
  --color-primary: var(--color-white);
  --color-accent: var(--color-black);

  /* Fonts */
  --font-sans: var(--font-inter), Helvetica, Arial, sans-serif;
  --font-serif: var(--font-things), serif;

  /* Default breakpoints &  media query
   * sm: 40rem (640px)
   * md: 48rem (768px)
   * lg: 64rem (1024px)
   * xl: 80rem (1280px)
   * 2xl: 96rem (1536px)

   * max-sm: @media (width < 40rem) { ... }
   * max-md: @media (width < 48rem) { ... }
   * max-lg: @media (width < 64rem) { ... }
   * max-xl: @media (width < 80rem) { ... }
   * max-2xl: @media (width < 96rem) { ... }
   */
}

/* ─── Typography ───────────────────────────────────────────────────────────── */

@utility type-display-1 {
  font-family: var(--font-serif);
  font-size: 118px;
  line-height: 84%;
  letter-spacing: 0;
  font-weight: 400;

  @media (width < 48rem) {
    font-size: 72px;
  }
}

@utility type-heading-1 {
  font-family: var(--font-sans);
  font-size: 40px;
  line-height: 108%;
  letter-spacing: -2%;
  font-weight: 300;

  @media (width < 48rem) {
    font-size: 40px;
    line-height: 120%;
  }
}

@utility type-body-1 {
  font-family: var(--font-sans);
  font-size: 24px;
  line-height: 144%;
  letter-spacing: 0;
  font-weight: 300;

  @media (width < 48rem) {
    font-size: 20px;
  }
}

@utility type-body-2 {
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 156%;
  letter-spacing: 0;
  font-weight: 300;

  @media (width < 48rem) {
    font-size: 14px;
  }
}

@utility type-body-3 {
  font-family: var(--font-sans);
  font-size: 14px;
  line-height: 156%;
  letter-spacing: 0;
  font-weight: 300;
}

@utility type-button {
  font-family: var(--font-sans);
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.04em;
  font-weight: 400;
  text-transform: uppercase;
}

@utility type-listing-card-title {
  font-family: var(--font-sans);
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-weight: 400;
}

/* ─── Global styles ─────────────────────────────────────────────────────────── */

html,
body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font-sans);
  font-weight: 300;
}

/* ─── Focus ──────────────────────────────────────────────────────────────────── */

*:focus {
  outline: none;
}

html[data-input-modality="keyboard"] *:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
